## 1.Import Libraries

1. Create a new notebook
2. Import necessary libraries
    - numpy, pandas, datetime

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

##  Summary - Import libraries

- numpy, pandas and datetime libraries are imported

## 2. Import Data

- Read the weather.csv file from local drive using pandas and load it into the data frame, df_weather.

In [3]:
df_weather = pd.read_csv('data/weather.csv', index_col = None, header = 0)

## Summary - Import data

- imported and read data using pandas, loaded data from csv file into the dataframe df_weather

## 3. View Data

### Code Block 1
To view the top 5 rows of df_weather

In [4]:
df_weather.head()

,Date,MaxTemp,MaxTime,MinTemp,MinTime,cloudCover,precipProbability,precipAmount,sunriseTime,sunsetTime,windSpeed
0,3/1/17,68.48,3/1/17 5:00,51.69,2/28/17 9:18,0.96,0.91,0.0184,2/28/17 12:25,2/28/17 23:46,6.20
1,3/2/17,69.75,3/1/17 10:30,36.00,3/2/17 5:00,0.53,1.00,0.2422,3/1/17 12:24,3/1/17 23:47,9.69
2,3/3/17,51.93,3/2/17 21:49,30.87,3/2/17 11:39,0.18,0.36,0.0028,3/2/17 12:23,3/2/17 23:48,4.63
3,3/4/17,44.03,3/3/17 21:51,26.49,3/3/17 14:06,0.14,0.70,0.0017,3/3/17 12:21,3/3/17 23:49,2.26
4,3/5/17,65.98,3/4/17 21:24,27.40,3/4/17 10:06,0.03,0.00,0.0000,3/4/17 12:20,3/4/17 23:50,4.69

### Code Block 2
To view a sample of 7 rows of df_weather

In [5]:
df_weather.sample(7)

,Date,MaxTemp,MaxTime,MinTemp,MinTime,cloudCover,precipProbability,precipAmount,sunriseTime,sunsetTime,windSpeed
28,3/29/17,60.91,3/28/17 21:44,52.69,3/29/17 3:18,0.91,0.00,0.0000,3/28/17 11:44,3/29/17 0:12,3.58
57,4/27/17,84.05,4/26/17 19:04,59.72,4/27/17 4:00,0.41,0.66,0.0327,4/26/17 11:03,4/27/17 0:39,6.26
16,3/17/17,47.88,3/16/17 21:56,19.43,3/16/17 11:45,0.42,0.00,0.0000,3/16/17 12:02,3/17/17 0:01,2.38
51,4/21/17,79.74,4/20/17 19:50,62.96,4/20/17 10:58,0.29,0.00,0.0000,4/20/17 11:11,4/21/17 0:33,5.71
14,3/15/17,29.53,3/14/17 19:05,19.44,3/15/17 4:00,0.95,0.00,0.0000,3/14/17 12:05,3/15/17 0:00,7.76
4,3/5/17,65.98,3/4/17 21:24,27.40,3/4/17 10:06,0.03,0.00,0.0000,3/4/17 12:20,3/4/17 23:50,4.69
50,4/20/17,84.41,4/19/17 20:47,62.08,4/19/17 10:54,0.48,0.26,0.0032,4/19/17 11:12,4/20/17 0:32,4.15

### Code Block 3
To view the bottom 2 rows of df_weather

In [6]:
df_weather.tail(2)

,Date,MaxTemp,MaxTime,MinTemp,MinTime,cloudCover,precipProbability,precipAmount,sunriseTime,sunsetTime,windSpeed
60,4/30/17,86.36,4/29/17 21:48,66.1,4/29/17 7:13,0.74,1.0,0.1351,4/29/17 11:00,4/30/17 0:41,5.98
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1780,NaN,NaN,NaN

## Summary - View Data

1. Used head() to view the top 5 rows. 
2. Used sample(7) to view 7 random rows.
3. Used tail(2) to view the bottom 2 rows.

## 4.Create a variable and convert from Celsius to Farenheit

- assign variable f to 32
- assign variable c to 0
- print f and c

In [7]:
f = 32
c = 0
print(f,'\n',c)

32
 0

- formula that takes Farenheit (f) and converts to Celcius (C)

In [8]:
f = 86
c = (f - 32) * 5 / 9 
print(c)

30.0

- Statement to state 'farenheit 86 converts to Celcius 30'

In [9]:
print ('Farenheit', str(f) ,'converts to', str(c) ,'Celsius')

Farenheit 86 converts to 30.0 Celsius

## Summary - Create a Variable and convert from Celsius to Farenheit

- assign values to variables f and c
- printed f and c 
- assigned the result of calculation to variable c and displayed the output
- used str() function to convert float types to string and printed the statement 'farenheit 86 converts to Celcius 30'.

## 5. Convert Objects to Dates using DateTime

- Convert variables from object datatype to datetime datatype

In [10]:
df_weather['MaxTime'] = pd.to_datetime(df_weather['MaxTime'])
df_weather['MinTime'] = pd.to_datetime(df_weather['MinTime'])
df_weather['sunriseTime'] = pd.to_datetime(df_weather['sunriseTime'])
df_weather['sunsetTime'] = pd.to_datetime(df_weather['sunsetTime'])
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               61 non-null     object
 1   MaxTemp            61 non-null     float64
 2   MaxTime            61 non-null     datetime64[ns]
 3   MinTemp            61 non-null     float64
 4   MinTime            61 non-null     datetime64[ns]
 5   cloudCover         61 non-null     float64
 6   precipProbability  61 non-null     float64
 7   precipAmount       62 non-null     float64
 8   sunriseTime        61 non-null     datetime64[ns]
 9   sunsetTime         61 non-null     datetime64[ns]
 10  windSpeed          61 non-null     float64
dtypes: datetime64[ns](4), float64(6), object(1)
memory usage: 5.5+ KB

## Summary - Convert Objects to Dates using DateTime

- used to_datetime feature from pandas to convert object datatype to datetime datatype 
- used info() to verify if the datatype changes have been implemented.

## 6. Create additional date features

1. Create a [‘MaxDay’] feature with number for dayofweek
2. Create a [‘MaxMonth’] feature with number for month
3. Create a [‘MaxDayName’] feature with number for day_name( )
4. Show top 5 rows of df_weather

In [11]:
df_weather['MaxDay'] = df_weather['MaxTime'].dt.dayofweek
df_weather['MaxMonth'] = df_weather['MaxTime'].dt.month
df_weather['MaxDayName'] = df_weather['MaxTime'].dt.day_name()

In [12]:
#final output with integer datatypes for df_weather['MaxDay'] and df_weather['MaxMonth']
df_weather.head()

,Date,MaxTemp,MaxTime,MinTemp,MinTime,cloudCover,precipProbability,precipAmount,sunriseTime,sunsetTime,windSpeed,MaxDay,MaxMonth,MaxDayName
0,3/1/17,68.48,2017-03-01 05:00:00,51.69,2017-02-28 09:18:00,0.96,0.91,0.0184,2017-02-28 12:25:00,2017-02-28 23:46:00,6.20,2.0,3.0,Wednesday
1,3/2/17,69.75,2017-03-01 10:30:00,36.00,2017-03-02 05:00:00,0.53,1.00,0.2422,2017-03-01 12:24:00,2017-03-01 23:47:00,9.69,2.0,3.0,Wednesday
2,3/3/17,51.93,2017-03-02 21:49:00,30.87,2017-03-02 11:39:00,0.18,0.36,0.0028,2017-03-02 12:23:00,2017-03-02 23:48:00,4.63,3.0,3.0,Thursday
3,3/4/17,44.03,2017-03-03 21:51:00,26.49,2017-03-03 14:06:00,0.14,0.70,0.0017,2017-03-03 12:21:00,2017-03-03 23:49:00,2.26,4.0,3.0,Friday
4,3/5/17,65.98,2017-03-04 21:24:00,27.40,2017-03-04 10:06:00,0.03,0.00,0.0000,2017-03-04 12:20:00,2017-03-04 23:50:00,4.69,5.0,3.0,Saturday

## Summary - Create additional date features

1. Created new features as requested.
2. Used dropna to drop rows with any number of null values
3. Converted MaxDay and MaxMonth from float to integer datatype using astype()
4. Used head() to display the top 5 rows

## 7. Create a new Column

- Create new column TempRange as a difference between MinTemp and MaxTemp
- view top 5 rows of df_weather

In [13]:
df_weather['TempRange'] = df_weather['MaxTemp'] - df_weather['MinTemp']
df_weather.head()

,Date,MaxTemp,MaxTime,MinTemp,MinTime,cloudCover,precipProbability,precipAmount,sunriseTime,sunsetTime,windSpeed,MaxDay,MaxMonth,MaxDayName,TempRange
0,3/1/17,68.48,2017-03-01 05:00:00,51.69,2017-02-28 09:18:00,0.96,0.91,0.0184,2017-02-28 12:25:00,2017-02-28 23:46:00,6.20,2.0,3.0,Wednesday,16.79
1,3/2/17,69.75,2017-03-01 10:30:00,36.00,2017-03-02 05:00:00,0.53,1.00,0.2422,2017-03-01 12:24:00,2017-03-01 23:47:00,9.69,2.0,3.0,Wednesday,33.75
2,3/3/17,51.93,2017-03-02 21:49:00,30.87,2017-03-02 11:39:00,0.18,0.36,0.0028,2017-03-02 12:23:00,2017-03-02 23:48:00,4.63,3.0,3.0,Thursday,21.06
3,3/4/17,44.03,2017-03-03 21:51:00,26.49,2017-03-03 14:06:00,0.14,0.70,0.0017,2017-03-03 12:21:00,2017-03-03 23:49:00,2.26,4.0,3.0,Friday,17.54
4,3/5/17,65.98,2017-03-04 21:24:00,27.40,2017-03-04 10:06:00,0.03,0.00,0.0000,2017-03-04 12:20:00,2017-03-04 23:50:00,4.69,5.0,3.0,Saturday,38.58

## Summary - Create a new Column

1. Assigned the difference of MaxTemp and MinTemp to variable ['TempRange']
2. Used head() to show the top 5 records

## 8.Slice and Filter data

- Show top 5 rows of MaxDay column by specifying label name
- Show the MaxMonth column only by using iloc
- Create a new DataFrame named df_temp
- Show the descriptive statistics by using .describe()

In [14]:
df_weather[['MaxDay']].head()

   MaxDay
0     2.0
1     2.0
2     3.0
3     4.0
4     5.0

In [15]:
df_weather.iloc[:,[12]].head()

   MaxMonth
0       3.0
1       3.0
2       3.0
3       3.0
4       3.0

In [16]:
df_temp = df_weather[['MaxTemp','MinTemp','TempRange','precipAmount']]

In [17]:
df_temp.head()

   MaxTemp  MinTemp  TempRange  precipAmount
0    68.48    51.69      16.79        0.0184
1    69.75    36.00      33.75        0.2422
2    51.93    30.87      21.06        0.0028
3    44.03    26.49      17.54        0.0017
4    65.98    27.40      38.58        0.0000

In [18]:
df_temp.describe()

         MaxTemp    MinTemp  TempRange  precipAmount
count  61.000000  61.000000  61.000000     62.000000
mean   65.899672  44.517869  21.381803      0.029766
std    13.686520  12.397472   7.482015      0.056639
min    29.530000  16.390000   8.220000      0.000000
25%    56.630000  36.000000  15.750000      0.000000
50%    68.700000  45.700000  20.890000      0.000000
75%    76.190000  52.690000  25.610000      0.020400
max    86.360000  66.100000  38.580000      0.242200

## Summary - Slice and Filter Data

- Used two methods - labelname and iloc to identify columns
- Created a new dataframe using a slice of another dataframe
- Used describe() to show descriptive statistics